ARK_API_KEY=
ARK_AGENT_ID=
ARK_ENVIRONMENT_ID=
ARK_VAULT_ID=
ARK_CREDENTIAL_ID=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_USER_OPEN_ID=
FEISHU_REFRESH_TOKEN=
FEISHU_ACCESS_TOKEN_EXPIRES_AT=
LARK_CLI_DOMAINS=docs,drive
GATEWAY_DB_PATH=./data/gateway.db
SESSION_TIMEOUT_MS=600000
